# =====================================

# JAVA

# =====================================

target/
*.class
*.jar
*.war

# =====================================

# NODE

# =====================================

node_modules/

# =====================================

# WHATSAPP AUTH

# =====================================

auth/

# =====================================

# PDFs

# =====================================

pdfs/

# =====================================

# IDE

# =====================================

.idea/
.vscode/

# =====================================

# OS

# =====================================

.DS_Store
Thumbs.db

# =====================================

# LOGS

# =====================================

*.log

# =====================================

# ENV

# =====================================

.env
